.foto__like {
    background-image: url('../../../images/hert.svg');
    padding: 0;
    min-width: 22px;
    min-height: 19px;
    border: none;
    position: relative;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: 22px 19px;
    background-position: 50%;
    display: flex;
}

.foto__like:hover {
    opacity: 0.6;
    cursor: pointer;
}