.foto__like {
    background-image: url('../../../images/hert.svg');
    background-repeat: no-repeat;
    min-width: 22px;
    min-height: 19px;
    border: none;
    background-color: transparent;
}

.foto__like:hover {
    opacity: 0.6;
    cursor: pointer;
}