.profile__img {
    max-width: 168.75px;
    max-height: 120px;
    border-radius: 50%;
    background: #C4C4C4; 
}

@media screen and (max-width: 867px){
    .profile__img {
        margin-left: 5%;
    }
    
}

@media screen and (max-width: 786px){
    .profile__img {
        margin: 0 auto;
    }
    
}