.foto__like {
    position: absolute;
    line-height: 1.15;
    border-style: none;
    right: 20px;
    bottom: 30px;
    left: 244px;
}

.foto__like:hover {
    opacity: 0.6;
    cursor: pointer;
}