.foto__like {
    background-image: url('/images/hert.svg');
    padding: 0;
    min-width: 22px;
    min-height: 19px;
    border: none;
    position: absolute;
    top: 315px;
    left: 251px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: 21px 19px;
    background-position: 50%;
}

.foto__like:hover {
    opacity: 0.6;
    cursor: pointer;
}