.profile__info {
    width: 294px;
    white-space: nowrap;
    margin: 0;
    font-family: 'Inter', "Helvetica Neue", Arial, sans-serif;
    font-size: 42px;
    font-style: normal;
    font-weight: 500;
    line-height: 48px;
    letter-spacing: 0em;
    color: white;
    padding: 22px 0px 16px 30px;
}