.popup__item {
    border: 0;
    border-bottom: 1px solid rgba(0,0,0,.2);
    box-sizing: border-box;
    color: #000;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    margin: 0;
    overflow: hidden;
    padding: 12px 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 358px;
    width: 100%;
    box-shadow: none;
}

