.profile__abb-button {
    position: relative;
    background-image: url("../../../images/plus.svg");
    min-width: 150px;
    min-height: 50px;
    background-position: center;
    background-repeat: no-repeat;
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 2px;
    padding: 0;
    background-color: #000000;
    align-self: center;
    transition: opacity .3s ease;
    margin-left: 244px;

}


@media screen and (max-width: 867px) {
    .profile__abb-button {
        margin-top: 36px;
        width: 282px;
    }
    
}

@media screen and (max-width: 578px) {
    .profile__abb-button {
        margin: 0 auto;
        width: 282px;
    }
    
}

@media screen and (max-width: 320px) {
    .profile__abb-button {
        margin: 0;
        border: 2px solid #FFFFFF;
        box-sizing: border-box;
        border-radius: 2px;
        width: 282;
    }
    
}

.profile__abb-button:hover {
    cursor: pointer;
    opacity: 0.6;
}