.profile__box {
    display: flex;
    flex-direction: row;
    max-width: 336px;
    width: 100%;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: center;
    margin-left: 32px;
    
}

@media screen and (max-width: 768px) {
   .profile__box  {
       display: flex;
   }
    
}

@media screen and (max-width: 686px) {
    .profile__box {
        justify-content: center;
        margin-left: 0px;
        display: flex;
        align-items: baseline;
    }
}

@media screen and (max-width: 360px) {
    .profile__box {
        max-width: 282px; 
        width: 100%;
        margin-left: 0px;
    }
}