.popup__btn_action_close {
    background-image: url(../../../../images/Close.svg);
    position: absolute;
    background-position: 50%;
    width: 32px;
    height: 32px;
    top: -38px;
    right: -42px;
    background-size: contain;
    border: none;
    box-shadow: none;
    background-color: transparent;
    padding: 0;
    outline: none;
}       



.popup__btn_action_close:hover {
    cursor: pointer;
    opacity: 0.6;
}

@media screen and (max-width:620px) {
    .popup__btn_action_close {
        right: 0;
        top: -50px;
    }
    
}