.popup__btn_action_submit {
    background-color: #000;
    border-radius: 2px;
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    height: 50px;
    line-height: 22px;
    text-align: center;
    transition: background-color .3s linear;
    margin-top: 48px;
    border: none;
}

.popup__btn_action_submit:hover {
    cursor: pointer;
    opacity: 0.6;
}